BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
IndentWidth: 4
ColumnLimit: 140
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
PointerAlignment: Left
BreakBeforeBraces: Attach
IncludeBlocks: Preserve
SortIncludes: Never
FixNamespaceComments: false
NamespaceIndentation: None
MaxEmptyLinesToKeep: 1
ReflowComments: false
