Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-exception-escape,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-branch-clone,
  clang-analyzer-*,
  -clang-analyzer-optin.performance.Padding,
  concurrency-*,
  -concurrency-mt-unsafe,
  misc-definitions-in-headers,
  misc-misplaced-const,
  misc-redundant-expression,
  misc-static-assert,
  misc-unused-alias-decls,
  misc-unused-using-decls,
  performance-*,
  -performance-avoid-endl,
  -performance-enum-size,
  -performance-trivially-destructible,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-redundant-control-flow,
  readability-redundant-string-init,
  readability-simplify-boolean-expr,
  readability-string-compare,
  cert-err34-c,
  cert-err52-cpp,
  cert-err60-cpp,
  cert-msc50-cpp,
  cert-msc51-cpp
WarningsAsErrors: ''
HeaderFilterRegex: '(include|src)/gygax/.*'
FormatStyle: file
